/* ======  Typography / RTF Styles ====== */

// To prevent overwriting issues, we have very few tag-only styles.
// Instead, we define a class that can be extended

body {
    font-size: $global-base-font-size;
}


// Anchor Styles

%a {
    cursor: pointer;

    &:hover {

    }
}

.a,
.rtf a {
    @extend %a;
}


// RTF Image Styles

.rtf figure,
.figure {

    figcaption {
    }

    &.l-float-l {

    }

    &.l-float-r {

    }

}


// Header Styles

.h1,
.rtf h1 {

}

.h2,
.rtf h2 {

}

.h3,
.rtf h3 {

}

.h4,
.rtf h4 {

}

.h5,
.rtf h5 {

}



// Body Copy Style

.p,
.rtf p {

}

.ul,
.rtf ul,
.ol,
.rtf ol {
    margin-bottom: .5em;
}


// Link with a right-pointing single arrow quote

.link-arrow::after {
    content: '\00a0\203A';
}


// Link with a right-pointing double arrow quote

.link-arrows::after {
    content: '\00a0\00bb';
}
