/* ======  Typography / RTF Styles ====== */

// To prevent overwriting issues, we have very few tag-only styles.
// Instead, we define a class that can be extended

body {
    font-size: $global-base-font-size;
}


// Anchor Styles

%a {
    color: $teal-1;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $blue-1;
    }
}

.a,
.rtf a:not(.btn) {
    @extend %a;
}

.rtf {
    margin-top: 3rem;
}


// RTF Image Styles

.rtf figure,
.figure {
    margin-bottom: 1rem;

    figcaption {
    }

    &.l-float-l {

    }

    &.l-float-r {

    }

}


// Header Styles

.h1,
.rtf h1,
.rtf--landing h1 {
    font-size: rem-calc(32);

    &::after {
        width: rem-calc(80);
    }
}

.rtf--landing h1 {
    font-size: rem-calc(48);
    text-align: center;
}

.h2,
.rtf h2 {
    font-size: rem-calc(24);

    &::after {
        width: rem-calc(40);
    }

}

.rtf--landing h2 {
    font-size: rem-calc(32);
}

.h3,
.rtf h3 {
    font-size: rem-calc(24);

    // &::after {
    //     width: rem-calc(40);
    // }
}

.h4,
.rtf h4 {

}

.h5,
.rtf h5 {

}

.rtf {
    h1,
    h2,
    h3 {
        font-family: $brandon;
        font-weight: $weight-bold;
        margin-bottom: .75rem;
        margin-top: 2rem;
        padding-bottom: .75rem;
        position: relative;
    }

    h1,
    h2 {
        display: inline-block;

        &::after {
            background-color: $teal-1;
            bottom: 0;
            content: '';
            display: block;
            height: rem-calc(2);
            left: 0;
            position: absolute;
        }
    }

    .figure + h1,
    .figure + h2,
    .figure + h3 {
        margin-top: 0;
    }
}

.l-2-col-master .h1 {
    font-family: $brandon;
    font-size: rem-calc(24);
    font-weight: $weight-bold;
    line-height: 1.2;
    margin-bottom: .75rem;
}

.l-2-col-master .h1,
.l-2-col-master .rtf h1 {
    display: block;
    margin-top: 0;
    text-align: center;

    &::after {
        display: none;
    }
}

.l-2-col-master .rtf h1,
.l-2-col-master h1 + p {
    @include medium-and-below {
        display: none;
    }
}

// Body Copy Style

.p,
.rtf p {
    margin-bottom: 1rem;
}

.l-2-col-master h1 + p,
.l-2-col-master .h1 + .p {
    font-size: rem-calc(20);
    line-height: 1.2;
    margin-bottom: 0;
    text-align: center;

    @include large-and-above {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.l-2-col-master .h1 + .p {
    font-size: rem-calc(16);
    line-height: 1.4;
    margin-bottom: 3rem;
    text-align: center;
}

.ul,
.rtf ul,
.ol,
.rtf ol {
    margin-left: 2rem;

    &.not-indented {
        margin-left: 0;
    }

    li {
        line-height: 1.6;
        margin: 1rem 0;
    }
}

.ul,
.rtf ul {
    li {
        &::before {
            background-color: $black;
            border-radius: 50%;
            content: '';
            display: inline-block;
            height: rem-calc(5);
            margin-right: .5rem;
            position: relative;
            top: rem-calc(-3);
            width: rem-calc(5);
        }

        ul > li {
            padding-left: .75rem;
            position: relative;

            &::before {
                background-color: transparent;
                border-radius: 0;
                content: '-';
                font-size: 1.2em;
                font-weight: $weight-semibold;
                left: 0;
                position: absolute;
            }
        }
    }
}

.ol,
.rtf ol {
    counter-reset: rtf-ol;
    list-style-type: none;

    > li {
        counter-increment: rtf-ol;
        padding-left: rem-calc(18);
        position: relative;

        &::before {
            content: counter(rtf-ol) '.';
            left: 0;
            list-style-type: decimal;
            position: absolute;
            top: 0;
        }

        > ol {
            counter-reset: rtf-ol;

            > li {
                counter-increment: rtf-ol;

                &::before {
                    content: counter(rtf-ol, lower-alpha) '.';
                    list-style-type: lower-alpha;
                }
            }
        }
    }
}


// Link with a right-pointing single arrow quote

.link-arrow::after {
    content: '\00a0\203A';
}


// Link with a right-pointing double arrow quote

.link-arrows::after {
    content: '\00a0\00bb';
}
