{{! The Nav content Partial }}

<div class="nav-content-wrap js-nav-content-wrap">

    <div class="h1">Overview of Your ODK System</div>
    <div class="p">Descriptive Text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</div>

    <nav class="nav-content">

        <div class="nav-content__inner">

            <div class="nav-content__contain">
                <ul class="nav-content__level">
                    <li class="nav-content__item-wrap is-active"><a href="#title" class="nav-content__item js-nav-content__item">Title</a></li>
                    <li class="nav-content__item-wrap"><a href="#introduction" class="nav-content__item js-nav-content__item">Introduction</a></li>
                    <li class="nav-content__item-wrap"><a href="#odk-system-components" class="nav-content__item js-nav-content__item">ODK System Components</a></li>
                    <li class="nav-content__nested-level">
                        <ul>
                            <li class="nav-content__item-wrap"><a href="#questionnaires" class="nav-content__item js-nav-content__item">Questionnaires</a></li>
                            <li class="nav-content__item-wrap"><a href="#server" class="nav-content__item js-nav-content__item">Server</a></li>
                            <li class="nav-content__item-wrap"><a href="#tablets" class="nav-content__item js-nav-content__item">Tablets</a></li>
                            <li class="nav-content__item-wrap"><a href="#data-retrieval" class="nav-content__item js-nav-content__item">Data Retrieval</a></li>
                        </ul>
                    </li>
                    <li class="nav-content__item-wrap"><a href="#external-consultants" class="nav-content__item js-nav-content__item">External Consultants</a></li>
                </ul>
            </div>

        </div>

    </nav>

</div> <!-- .nav-content -->
