{{! The Primary Navigation Partial }}

<nav class="nav-primary js-nav-primary">
    <ul class="nav-primary__l1-items">
        <li class="nav-primary__l1-item nav-primary__l1-item--has-dropdown js-nav-primary-l1"><a href="#" class="nav-primary__l1-item-link"><span class="nav-primary__link-text">How-To-Guides</span></a>
            <ul class="nav-primary__l2-items">
                <li class="nav-primary__l2-item"><a href="#" class="nav-primary__l2-item-link"><span class="nav-primary__link-text">Overview of Your ODK System</span></a></li>
                <li class="nav-primary__l2-item"><a href="#" class="nav-primary__l2-item-link"><span class="nav-primary__link-text">Creating an XLS Form Questionnaire</span></a></li>
                <li class="nav-primary__l2-item"><a href="#" class="nav-primary__l2-item-link"><span class="nav-primary__link-text">Deploying a Remote Server…</span></a></li>
                <li class="nav-primary__l2-item"><a href="#" class="nav-primary__l2-item-link"><span class="nav-primary__link-text">The Handheld Device</span></a></li>
                <li class="nav-primary__l2-item"><a href="#" class="nav-primary__l2-item-link"><span class="nav-primary__link-text">Downloading and Merging Data…</span></a></li>
                <li class="nav-primary__l2-item"><a href="#" class="nav-primary__l2-item-link"><span class="nav-primary__link-text">Monitoring Incoming Survey Data</span></a></li>
                <li class="nav-primary__l2-item"><a href="#" class="nav-primary__l2-item-link"><span class="nav-primary__link-text">Best Practices</span></a></li>
                <li class="nav-primary__l2-item"><a href="#" class="nav-primary__l2-item-link"><span class="nav-primary__link-text">Tablet Handling Guidelines</span></a></li>
            </ul>
        </li>
        <li class="nav-primary__l1-item"><a href="#" class="nav-primary__l1-item-link"><span class="nav-primary__link-text">Questionnaires</span></a></li>
        <li class="nav-primary__l1-item"><a href="#" class="nav-primary__l1-item-link"><span class="nav-primary__link-text">Dash Report</span></a></li>
        <li class="nav-primary__l1-item"><a href="#" class="nav-primary__l1-item-link"><span class="nav-primary__link-text">Menu Item</span></a></li>
        <li class="nav-primary__l1-item"><a href="#" class="nav-primary__l1-item-link"><span class="nav-primary__link-text">Menu Item</span></a></li>
    </ul>
</nav>
