<figure class="figure js-figure {{modifier}}">
    {{#if image}}
        <div class="figure__img">
            <img src="/images/{{image}}" alt="">
        </div>
    {{/if}}

    {{!-- {{#if video}}
        <div class="figure__video js-figure-video">
            <iframe width="853" height="480" src="{{video}}" frameborder="0" allowfullscreen></iframe>
        </div>
    {{/if}} --}}

    {{#if caption}}
        <figcaption class="figure__caption">
            <span>{{{caption}}}</span>
        </figcaption>
    {{/if}}
</figure>
