/* YAPL
name: Figure (image w/caption)
notes: Main image and caption
context: figure.mastersub
*/

.rtf figure,
figure.figure {
    display: table;
    table-layout: fixed;
    width: 100%;

    figcaption,
    .figure__caption {
        caption-side: bottom;
        display: table-caption;
        font-size: rem-calc(14);
        margin-top: .5rem;
    }

    &.u-float-l,
    &.u-float-r {
        @include medium-and-above {
            max-width: 50%;
        }

        @include large-and-above {
            max-width: rem-calc(500);
        }
    }

    &.u-float-l {
        @include medium-and-above {
            margin-right: 1.5rem;
        }

        @include large-and-above {
            margin-right: 2.5rem;
        }
    }
}

.rtf img,
.rtf figure {
    max-width: 100%;
}

.figure__img {
    img {
        margin: 0;
        width: 100%;
    }
}

.figure__video {
    padding-bottom: 56.2719812%;
    position: relative;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
