/* ======  Base styles - Some starting defaults with low specificity. ====== */

@import 'variables';


// Set all elements to use border-box by default. Use "inherit" for better specificity
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
// Also, set all type to antialiased by default
// https://github.com/BerndtGroup/TBG-Front-End-Boilerplate/issues/13
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -moz-osx-font-smoothing: inherit;
    -webkit-font-smoothing: inherit;
    box-sizing: inherit;
}

html,
button,
input,
select,
textarea {
    font-family: $proxima;
    font-size: $global-base-font-size;
}

::selection {
    text-shadow: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

sup {
    font-size: small;
    vertical-align: super;
}

textarea {
    resize: vertical;
}

[type='submit'],
[type='search'] {
    appearance: none;
}

[type='button'],
[type='submit'] {
    background: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
}


strong,
b {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    transition: .3s ease;
    transition-property: background, color, border;
}

p {
    line-height: 1.5;
}
