.link-block {
    margin: 2rem 0;
}

.link-block__item {
    background-color: $white;
    border-radius: 9px;
    margin-bottom: 2rem;

    .link-block--shaded & {
        background-color: $gray-4;
        border: 1px solid $gray-5;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include medium-and-above {
        display: flex;
        flex-wrap: nowrap;
    }
}

.link-block__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;

    @include small-only {
        background-position: top center;
        border-radius: 9px 9px 0 0;
        height: rem-calc(230);
        width: 100%;
    }

    @include medium-and-above {
        border-radius: 9px 0 0 9px;
        max-width: rem-calc(265);
        width: 40%;
    }

    .link-block--shadowed-image & {
        background-size: 100%;
        border-radius: 7px;
        box-shadow: 0 0 rem-calc(15) $black-thirty-five;

        @include small-only {
            background-position: left center;
            margin-bottom: 2rem;
        }
    }
}

.link-block__content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .link-block--shaded & {
        padding: 2rem;
    }

    .link-block--shadowed-image & {
        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .btn {
        margin-top: 1rem;
    }

    @include medium-and-above {
        padding: 2rem;

        .link-block--shadowed-image & {
            padding-bottom: 0;
            padding-top: 0;
        }
    }
}
