/* ===== Media Queries ===== */

// Change "mq" values as needed for the project

$mq-0: 400px !default;
$mq-1: 650px !default;
$mq-2: 1000px !default;
$mq-3: 1400px !default;

$mq-v-0: 700px !default;
$mq-v-1: 950px !default;

// Handles super skinny
@mixin extra-small-only {
    @media (max-width: $mq-0) {
        @content;
    }
}

// Both portrait and landscape
@mixin small-only {
    @media (max-width: $mq-1) {
        @content;
    }
}

@mixin medium-only {
    @media (min-width: $mq-1 + 1) and (max-width: $mq-2) {
        @content;
    }
}

@mixin medium-and-above {
    @media (min-width: $mq-1 + 1) {
        @content;
    }
}

@mixin medium-and-below {
    @media (max-width: $mq-2) {
        @content;
    }
}

@mixin large-only {
    @media (min-width: $mq-2 + 1) and (max-width: $mq-3) {
        @content;
    }
}

@mixin large-and-above {
    @media (min-width: $mq-2 + 1) {
        @content;
    }
}

@mixin large-and-below {
    @media (max-width: $mq-3) {
        @content;
    }
}

@mixin very-large-only {
    @media (min-width: $mq-3 + 1) {
        @content;
    }
}

// Unique combination media queries
@mixin small-and-large-only {
    @media (max-width: $mq-1), (min-width: $mq-2 + 1) and (max-width: $mq-3) {
        @content;
    }
}

@mixin small-and-large-and-above {
    @media (max-width: $mq-1), (min-width: $mq-2 + 1) {
        @content;
    }
}

@mixin medium-and-very-large-only {
    @media (min-width: $mq-1 + 1) and (max-width: $mq-2), (min-width: $mq-3 + 1) {
        @content;
    }
}

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
    @media (min-device-pixel-ratio: 1.5) {
        @content;
    }
}


// Vertical media queries
@mixin short-height-only {
    @media (max-height: $mq-v-0) {
        @content;
    }
}

@mixin large-height-and-above {
    @media (min-height: $mq-v-1) {
        @content;
    }
}
