<div class="l-sponsor-info background--gray">
    <div class="sponsor-info__images l-contain">
        <img class="sponsor-info__image" src="/images/assets/logos/bloomberg-logo.png" alt="Johns Hopkins Bloomberg School of Public Health Logo">
        <img class="sponsor-info__image" src="/images/assets/logos/radar-logo.png" alt="JHU RADAR Logo">
    </div>
</div>
