<div class="hero{{#if modifier}} {{modifier}}{{/if}}" style="background-image: url('/images/{{image}}')">
    <div class="hero__text-box l-contain">
        <h2 class="hero__title">{{title}}</h2>
        <p class="hero__subtitle">{{subtitle}}</p>
    </div>
    <div class="hero__color-overlay"></div>
</div>
