{{! The Footer Partial }}

<footer class="l-footer background--gray-3">
    <div class="footer__links l-contain">
        <a href="#" class="icon-link icon-link--before icon-link--gray icon-link--email">emailaddress@jhu.edu</a>
        <a href="#" class="icon-link icon-link--before icon-link--gray icon-link--phone">410-955-3543</a>
        <a href="#" class="icon-link icon-link--before icon-link--gray icon-link--location">615 N. Wolfe Street<br>Baltimore, MD 21205</a>
    </div>
</footer>
