.l-tiles {
    margin-top: 3rem;
    position: relative;
    z-index: 3;
}

.tiles__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include small-only {
        max-width: rem-calc(400);
    }
}

.tile {
    color: $white;
    text-align: center;
    text-decoration: none;

    @include small-only {
        flex: 0 0 100%;
        margin-top: 1.5rem;
    }

    @include medium-only {
        flex: 0 0 48%;
        margin: 0 auto;

        &:nth-child(2n-1) {
            margin-left: 0;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(n+3) {
            margin-top: 1.5rem;
        }
    }

    @include large-and-above {
        flex: 0 0 32%;
        margin: 0 auto;

        &:nth-child(3n-2) {
            margin-left: 0;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-child(n+4) {
            margin-top: 1.5rem;
        }
    }

    @include medium-and-above {
        .tile__inner {
            margin: 0;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: .6s ease;
            transition-property: opacity, max-height, padding, margin;
        }

        .btn {
            margin-top: 1rem;
        }

        &.is-open {
            .tile__content {
                box-shadow: 0 0 rem-calc(50) rgba($black, .45);
                padding-top: 1.75rem;
                transform: translateY(-60px);
            }

            .tile__inner {
                margin-top: .35rem;
                max-height: rem-calc(200);
                opacity: 1;
                padding-top: .5rem;
            }
        }
    }
}

.tile__content {
    align-items: center;
    background-color: $blue-1;
    border-radius: 8px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    transition: .5s ease;
    transition-property: box-shadow, transform, padding;

    @include medium-and-above {
        height: rem-calc(375);
        padding: 1.5rem;
        padding-top: 2.5rem;
    }
}

.tile__icon-container {
    align-items: center;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 1.5rem;
    transition: .4s ease;
    transition-property: width, height;
    will-change: width, height;

    @include small-only {
        height: rem-calc(71);
        width: rem-calc(71);

        img {
            max-height: rem-calc(38);
            max-width: rem-calc(38);
        }
    }

    @include medium-and-above {
        height: rem-calc(178);
        width: rem-calc(178);

        .is-open & {
            height: rem-calc(89);
            transition: .5s ease;
            width: rem-calc(89);

            img {
                max-height: rem-calc(50);
                max-width: rem-calc(48);
                transition: .5s ease;
            }
        }

        img {
            max-height: rem-calc(100);
            max-width: rem-calc(90);

            transition: .4s ease;
            transition-property: max-height, max-width;
        }
    }
}

.tile__title {
    font-family: $brandon;
    font-size: rem-calc(24);
    font-weight: $weight-bold;
    margin-top: 1rem;
    padding-bottom: 1rem;
    position: relative;

    &::after {
        background-color: $teal-1;
        content: '';
        display: block;
        height: rem-calc(2);
        left: calc(50% - 20px);
        position: absolute;
        top: 100%;
        width: rem-calc(40);
    }

    @include medium-and-above {
        margin-top: 2rem;
    }
}

.tile .icon-link {
    color: $white;
    justify-content: flex-start;
    margin: .5rem auto;
    text-align: left;
    width: 75%;

    &:hover,
    &:focus {
        color: $teal-1;
    }
}

.tile__inner {
    width: 100%;

    @include small-only {
        margin-top: .35rem;
        padding-top: .5rem;

        .btn {
            margin-top: 1rem;
        }
    }
}
