.l-tiles {
    margin-top: 3rem;
    position: relative;
    z-index: 3;

    &--landing {
        padding-bottom: 2rem;

        @include medium-and-above {
            margin-top: 3.5rem;
        }
    }
}

.tiles__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include small-only {
        max-width: rem-calc(400);
    }
}

.tile {
    text-align: center;
    text-decoration: none;

    .l-tiles--home & {
        color: $white;
    }

    .l-tiles--landing & {
        color: $black;
        display: flex;
    }

    @include small-only {
        flex: 0 0 100%;
        margin-top: 1.5rem;
    }

    @include medium-only {
        flex: 0 0 48%;
        margin: 0 auto;

        &:nth-child(2n-1) {
            margin-left: 0;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(n+3) {
            margin-top: 1.5rem;
        }
    }

    @include medium-and-above {
        .l-tiles--home & {
            .tile__inner {
                margin: 0;
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                transition: .6s ease;
                transition-property: opacity, max-height, padding, margin;
            }

            .btn {
                margin-top: 1rem;
            }

            &.is-open {
                .tile__content {
                    background-color: $blue-2;
                    box-shadow: 0 0 rem-calc(50) rgba($black, .45);
                    padding-top: 1.75rem;
                    transform: translateY(-12px);
                }

                .tile__inner {
                    margin-top: .35rem;
                    max-height: rem-calc(200);
                    opacity: 1;
                    padding-top: .5rem;
                }
            }
        }

        .l-tiles--landing & {
            margin-bottom: 1.5rem;

            .btn {
                margin-top: .25rem;
            }
        }
    }

    @include large-and-above {
        margin: 0 auto;

        .l-tiles--home & {
            flex: 0 0 32%;

            &:nth-child(3n-2) {
                margin-left: 0;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }

            &:nth-child(n+4) {
                margin-top: 1.5rem;
            }
        }

        .l-tiles--landing & {
            flex: 0 0 23%;
            margin-right: 2%;

            &:nth-child(4n+1) {
                margin-left: 0;
            }

            &:nth-child(4n) {
                margin-right: 0;
            }

            &:nth-child(n+5) {
                margin-top: 1.5rem;
            }
        }
    }
}

.tile__content {
    align-items: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    .l-tiles--home & {
        background-color: $blue-1;
        box-shadow: none;
        padding: 1.5rem 1rem;
        transition: .5s ease;
        transition-property: box-shadow, transform, padding, background;

        @include medium-and-above {
            height: rem-calc(375);
            padding: 1.5rem;
            padding-top: 2.5rem;
        }
    }

    .l-tiles--landing & {
        background-color: $teal-1;
        box-shadow: 7px 7px 5px 0 $black-thirty-five;
        padding-top: 1.5rem;
        position: relative;
        width: 100%;
    }
}

.tile__icon-container {
    align-items: center;
    background-color: $white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 52%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 1.5rem;
    transform: scale(1);
    transition: .4s ease;
    transition-property: margin, transform, width, height;

    @include small-only {
        .l-tiles--home & {
            height: rem-calc(71);
            width: rem-calc(71);
        }

        .l-tiles--landing & {
            height: rem-calc(115);
            width: rem-calc(115);
        }
    }

    @include medium-and-above {
        .l-tiles--home & {
            height: rem-calc(178);
            width: rem-calc(178);
        }

        .l-tiles--landing & {
            height: rem-calc(145);
            width: rem-calc(145);
        }

        .is-open & {
            html:not(.is-ie):not(.is-edge) & {
                height: rem-calc(89);
                width: rem-calc(89);
            }

            .is-ie &,
            .is-edge & {
                margin: -3rem 0;
                transform: scale(.55);
                transition-duration: .5s;
            }
        }
    }
}

.tile__title {
    font-family: $brandon;
    font-size: rem-calc(24);
    font-weight: $weight-bold;
    line-height: 1.2;
    padding-bottom: 1rem;
    position: relative;

    &::after {
        background-color: $teal-1;
        content: '';
        display: block;
        height: rem-calc(2);
        position: absolute;
        top: 100%;
    }

    .l-tiles--home & {
        margin-top: 1rem;

        &::after {
            left: calc(50% - 20px);
            width: rem-calc(40);
        }

        @include medium-and-above {
            margin-top: 2rem;
        }
    }

    .l-tiles--landing & {
        margin-bottom: 1rem;
        transition: color .4s ease;

        &::after {
            left: calc(50% - 30px);
            width: rem-calc(60);
        }
    }

    .l-tiles--landing .tile:focus &,
    .l-tiles--landing .tile:hover & {
        color: $teal-1;
    }
}

.tile .icon-link {
    color: $white;
    justify-content: flex-start;
    margin: .5rem auto;
    text-align: left;
    width: 75%;

    &:hover,
    &:focus {
        color: $teal-1;
    }
}

.tile__inner {
    width: 100%;

    @include small-only {
        margin-top: .35rem;
        padding-top: .5rem;

        .btn {
            margin-top: 1rem;
        }
    }

    .l-tiles--landing & {
        background-color: $white;
        border-radius: 8px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        font-size: rem-calc(13);
        margin-top: 1rem;
        padding: 1.5rem 1rem;

        @include medium-and-above {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            padding: 1.5rem;

            p {
                flex: 1 0 auto;
            }
        }

        .btn {
            align-self: center;
            font-size: 1rem;
            margin-top: .5rem;
        }

        &:hover,
        &:focus {
            .btn {
                background-color: $white;
                border-color: $teal-1;
                color: $teal-1;
            }
        }
    }
}

.tile__tag {
    .l-tiles--landing & {
        color: $white;
        font-size: rem-calc(12);
        font-weight: $weight-bold;
        left: 1rem;
        position: absolute;
        top: 1rem;
    }
}
