<div class="l-tiles js-tiles">
    <div class="tiles__inner l-contain">
        {{#each items}}
        {{#if inner}}
        <div class="tile tile--inner js-tile">
        {{else}}
        <div class="tile">
        {{/if}}
            <div class="tile__content">
                <div class="tile__icon-container" style="background-image: url('/images/{{icon}}')"></div>
                <h3 class="tile__title">{{title}}</h3>
                {{#if inner}}<div class="tile__inner">{{{inner}}}</div>{{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
