<div class="l-feature-image background--teal">
    <div class="feature-image__container l-contain">
        <div class="feature-image__image-container" style="background-image: url('/images/{{image}}')">
        </div>
        <div class="feature-image__text">
            <h3 class="feature-image__title">{{title}}</h3>
            <p class="feature-image__caption">{{text}}</p>
            <a href="#" class="btn btn--teal">{{cta}}</a>
        </div>
    </div>
</div>
