---
title: How-To-Guides - Landing
description: Description
---

{{#extend "1-col-master"}}
    {{#content "content-primary"}}

    <!-- YAPL
    name: How-To-Guides - Landing
    notes: General content detail page which provides an example of rich text styles and other basic page elements.
    -->
    <div class="background--gray">
        {{> hero hero.how-to-guides-landing }}

        {{> tiles tiles.how-to-guides }}
    </div>

    {{/content}}
{{/extend}}
