.icon-link {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;

    &::before {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        height: rem-calc(30);
        transition: background .4s ease;
        width: rem-calc(30);
    }
}

.icon-link--before {
    &::before {
        margin-right: 15px;
        order: 0;
    }
}

.icon-link--after {
    &::before {
        margin-left: 15px;
        order: 2;
    }
}

.icon-link--email {
    &::before {
        background-image: url('/images/assets/icon/envelope--teal.svg');
    }

    &.icon-link--gray {
        &::before {
            background-image: url('/images/assets/icon/envelope--gray.svg');
        }
    }
}

.icon-link--phone {
    &::before {
        background-image: url('/images/assets/icon/phone--teal.svg');
    }

    &.icon-link--gray {
        &::before {
            background-image: url('/images/assets/icon/phone--gray.svg');
        }
    }
}

.icon-link--location {
    &::before {
        background-image: url('/images/assets/icon/location--teal.svg');
    }

    &.icon-link--gray {
        &::before {
            background-image: url('/images/assets/icon/location--gray.svg');
        }
    }
}

.icon-link--arrow {
    &::before {
        background-image: url('/images/assets/icon/arrow--teal.svg');
        height: rem-calc(9);
        width: rem-calc(12);
    }

    &:hover,
    &:focus {
        &::before {
            background-image: url('/images/assets/icon/arrow--white.svg');
        }
    }

    &.icon-link--after {
        &::before {
            margin-left: rem-calc(10);
        }
    }
}

.icon-link--expand {
    &::before {
        background-image: url('/images/assets/icon/expand--teal.svg');
    }
}

.icon-link--close {
    &::before {
        background-image: url('/images/assets/icon/close--white.svg');
        height: rem-calc(23);
        width: rem-calc(23);
    }
}

.icon-link--previous {
    &::before {
        background-image: url('/images/assets/icon/previous.svg');
        height: rem-calc(70);
        width: rem-calc(70);
    }
}

.icon-link--next {
    &::before {
        background-image: url('/images/assets/icon/next.svg');
        height: rem-calc(70);
        width: rem-calc(70);
    }
}

.icon-link--previous-alt {
    &::before {
        background-image: url('/images/assets/icon/arrow--white.svg');
        height: rem-calc(20);
        transform: rotate(180deg);
        width: rem-calc(29);
    }
}

.icon-link--next-alt {
    &::before {
        background-image: url('/images/assets/icon/arrow--white.svg');
        height: rem-calc(20);
        width: rem-calc(29);
    }
}
