.utility-nav {
    overflow: hidden;
    transition: .5s ease;
    transition-property: margin, max-height;

    @include medium-and-below {
        padding: 0 2rem;
    }

    @include large-and-above {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1.5rem;
        max-height: rem-calc(35);
    }

    .utility-nav__item {
        font-size: rem-calc(14);
        font-weight: $weight-medium;
        text-transform: uppercase;

        @include medium-and-below {
            &:first-child {
                border-bottom: 1px solid $gray-2;
            }
        }

        @include large-and-above {
            display: inline-block;

            &:first-child {
                margin-right: 20px;
            }
        }
    }

    .btn {
        font-weight: $weight-medium;
        letter-spacing: .01rem;

        @include medium-and-below {
            color: $gray-2;
            display: block;
            padding: 1rem;
            text-align: center;
            text-transform: capitalize;
            width: 100%;
        }
    }

    @include large-and-above {
        .l-header.is-collapsed & {
            margin: 0;
            max-height: 0;
        }
    }
}
