{{! The Portlet Partial }}

<article class="portlet {{modifier}}">

    <h1 class="portlet__title {{titleModifier}}">{{title}}</h1>
    {{#if text}}
        <div class="portlet__text">
            <p>{{text}}</p>
        </div>
    {{/if}}

</article><!-- .portlet -->
