/* ====== Button Styles ====== */

/* SG
name: Default button
notes: The default button style without any modifiers
partial: btn
context: btn.default
*/

.btn {
    border-radius: rem-calc(5);
    cursor: pointer;
    display: inline-block;
    font-weight: $weight-semibold;
    line-height: 1;
    padding: rem-calc(10) rem-calc(16) rem-calc(8);

    &:hover {
        text-decoration: none;
    }

    &.btn--inline + .btn--inline {
        margin-left: .75rem;
    }

    &.btn--inline {
        padding: rem-calc(8) rem-calc(16);
    }
}

.btn--teal {
    background-color: $teal-1;
    border: 2px solid $teal-1;
    color: $white;

    &:hover,
    &:focus {
        background-color: $blue-1;
        border-color: $blue-1;
    }

    &.btn--hollow {
        background-color: transparent;
        border: 2px solid $teal-1;
        color: $teal-1;

        &:hover,
        &:focus {
            background-color: $blue-1;
            border-color: $blue-1;
            color: $white;
        }
    }
}

.btn--hollow {
    border: 1px solid rgba($white, .5);
    border-radius: 5px;
    color: $white;
    display: inline-block;

    &:hover,
    &:focus {
        background-color: $white;
        border-color: $white;
        color: $blue-1;
    }
}
