/* ====== Button Styles ====== */

/* SG
name: Default button
notes: The default button style without any modifiers
partial: btn
context: btn.default
*/

.btn {
    cursor: pointer;
    display: inline-block;
    line-height: 1;

    &:hover {
        text-decoration: none;
    }
}

.btn--hollow {
    border: 1px solid rgba($white, .5);
    border-radius: 5px;
    color: $white;
    display: inline-block;
    padding: rem-calc(10) rem-calc(16) rem-calc(8);

    &:hover,
    &:focus {
        background-color: $white;
        border-color: $white;
        color: $blue-1;
    }
}
