---
layout: default.hbs
cols: 1
---


<div class="l-1-col-master u-cf">

    <!-- Primary content container -->
    <main class="l-content-primary">
        {{#block "content-primary"}}{{/block}}
    </main><!-- .content-primary -->

</div><!-- .l-1-col-master -->
