---
layout: default.hbs
cols: 2
---


<div class="l-2-col-master u-cf">

    {{> content-nav }}

    <!-- Primary content container -->
    <main class="l-content-primary">
        {{#block "content-primary"}}{{/block}}
    </main><!-- .content-primary -->

</div><!-- .l-2-col-master -->
