<div class="nav-guide js-nav-guide">
    <div class="l-contain u-cf">
        <div class="nav-guide__previous">
            <a class="nav-guide__previous-link icon-link icon-link--before icon-link--previous-alt" href="#">Previous Guide</a>
        </div>

        <div class="nav-guide__next">
            <a class="nav-guide__next-link icon-link icon-link--after icon-link--next-alt" href="#">Next Guide</a>
            <div class="nav-guide__title">Creating an XLS Form Questionnaire</div>
        </div>
    </div>
</div>
