/* ====== Table Styles - Uses bootstrap tables as a base ====== */

@import 'media-queries';

$table-cell-padding: 16px 10px 12px !default;
$table-condensed-cell-padding: 8px !default;
$table-bg: #fff !default;
$table-bg-accent: #fbfbfb !default;
$table-bg-hover: #f5f5f5 !default;
$table-bg-active: $table-bg-hover !default;
$table-border-color: $gray-1;
$table-th-color: $white;

th {
    text-align: left;
}

/* YAPL
name: Table
notes: The default table style. If it's used outside of a <div class="rtf">, it must have the "table" class applied
context: table.default
*/

.table,
.rtf table {
    margin: 1.5rem 0;
    max-width: 100%;
    text-align: center;
    width: 100%;

    th,
    td {
        border-top: 1px solid $table-border-color;
        line-height: 1.2;
        padding: $table-cell-padding;
        vertical-align: top;
    }

    // Bottom align for column headings
    > thead th {
        border: solid $table-border-color;
        border-width: 2px 0 2px 2px;
        color: $table-th-color;
        font-weight: bold;
        text-align: center;
        vertical-align: bottom;

        &:nth-child(3n-1) {
            background-color: $purple-1;
        }

        &:nth-child(3n) {
            background-color: $red-1;
        }

        &:nth-child(3n+1) {
            background-color: $orange-1;
        }

        &:first-child {
            background-color: transparent;
            border: 0;
        }

        &:nth-child(2) {
            border-left: 0;
            border-radius: 9px 0 0;
        }

        &:last-child {
            border-radius: 0 9px 0 0;
            border-right: 0;
        }
    }

    // Remove top border from thead by default
    > thead tr:first-child {
        > th,
        > td {
            border-top: 0;
        }
    }

    > tbody tr {
        > th {
            background-color: $teal-1;
            border: solid $table-border-color;
            border-width: 0 2px 2px;
            color: $white;
            font-weight: $weight-bold;
            text-align: center;
        }

        > td:last-child {
            border-right: 0;
        }

        &:first-child {
            > th {
                border-radius: 9px 0 0;
            }
        }

        &:last-child {
            > th {
                border-bottom: 0;
                border-radius: 0 0 0 9px;
            }

            td {
                border-bottom: 0;
            }

            > td:last-child {
                border-radius: 0 0 9px;
            }
        }

        td {
            background-color: $white;
            border: 2px solid $table-border-color;
        }

    }

    // Account for multiple tbody instances
    > tbody + tbody {
        border-top: 2px solid $table-border-color;
    }

    // Nesting
    .table {
        background-color: inherit;
    }
}

/* YAPL
name: Table - Condensed
notes: Condensed table w/ half padding
context: table.condensed
*/

.table--condensed {
    th,
    td {
        padding: $table-condensed-cell-padding;
    }
}

/* YAPL
name: Table - Bordered
notes: Add borders all around the table and between all the columns.
context: table.bordered
*/

.table--bordered {
    border: 1px solid $table-border-color;

    th,
    td {
        border: 1px solid $table-border-color;
    }

    > thead {
        th,
        td {
            border-bottom-width: 2px;
        }
    }
}

/* YAPL
name: Table - Striped
notes: Adds zebra striping to the tables
context: table.striped
*/

.table--striped {
    > tbody > tr:nth-child(odd) {
        > td,
        > th {
            background-color: $table-bg-accent;
        }
    }
}

/* YAPL
name: Table w/Hover
notes: Adds hover styles
context: table.hover
*/

.table--hover {
    > tbody > tr:hover {
        > td,
        > th {
            background-color: $table-bg-hover;
        }
    }
}


/* YAPL
name: Table - Master
notes: The typical style for most tables. A combination of the striped and bordered styles. Becomes horizontally scrollable at mobile. Table must be wrapped in a div.table--responsive for it to be scrollable at mobile.
context: table.master
*/

@include small-only {

    .table--responsive {
        border: 1px solid $table-border-color;
        margin: 30px 0;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;

        // Tighten up spacing
        > .table {
            margin: 0;
        }

        // Special overrides for the bordered tables
        > .table--bordered {
            border: 0;

            th:first-child,
            td:first-child {
                border-left: 0;
            }

            th:last-child,
            td:last-child {
                border-right: 0;
            }

        }
    }

}
